.movies-app-home-bg {
  background-color: #131313;
  min-height: 100vh;
  padding-bottom: 40px;
}

.movies-app-content-container {
  min-height: 60vh;
}
.movies-app-home-slick-container {
  width: 80%;
  max-width: 1140px;
  margin: auto;
}

.slick-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .slick-heading {
    font-size: 24px;
    line-height: 31px;
    margin-top: 20px;
  }
}
