.search-page-bg {
  background-color: #131313;
  min-height: 100vh;
}
.movie-page-nav-container {
  background-color: #00000050;
}
.movie-page-header-content-container {
  width: 90%;
  max-width: 1140px;
  margin: auto;
  padding: 20px;
}
.movie-page-header-content-screen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-page-logo-items-container {
  display: flex;
  align-items: center;
}
.movie-page-header-screen-logo {
  width: 100px;
}
@media screen and (min-width: 768px) {
  .movie-page-header-screen-logo {
    width: 135px;
    margin-right: 48px;
  }
}
.movie-page-nav-items-screen-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .movie-page-nav-items-screen-container {
    padding-left: 0;
    display: flex;
    list-style-type: none;
  }
}
.movie-page-nav-items-screen {
  color: #ffffff;
  font-size: 16px;
  margin-left: 24px;
  font-weight: 400;
}
.movies-page-nav-search-icon-button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.movies-page-nav-search-icon {
  font-size: 24px;
  color: #ffffff;
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .movies-page-nav-search-icon {
    margin-right: 24px;
  }
}
.movie-page-nav-avthar {
  display: none;
}
@media screen and (min-width: 768px) {
  .movie-page-nav-avthar {
    display: block;
  }
}
.menu-open-icon {
  font-size: 30px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .menu-open-icon {
    display: none;
  }
}
.movie-page-nav-menu-mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .movie-page-nav-menu-mobile-container {
    display: none;
  }
}
.movie-page-nav-items-mobile-container {
  padding-left: 0;
  display: flex;
  list-style-type: none;
}
.movies-app-cross-icon {
  color: #ffffff;
  font-size: 24px;
}
.movie-page-nav-items-mobile {
  color: #ffffff;
  font-size: 16px;
  margin-right: 24px;
  font-weight: 400;
}
.nav-link {
  text-decoration: none;
}
.active-item {
  font-weight: 800;
}
.not-active-item {
  font-weight: 400;
}

.search-input-container {
  width: 130px;
  border: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
@media screen and (min-width: 576px) {
  .search-input-container {
    width: 190px;
  }
}
@media screen and (min-width: 768px) {
  .search-input-container {
    width: 264px;
  }
}
.input-container {
  width: 90%;
  background-color: transparent;
  padding: 8px;
  border: 0;
  color: #ffffff;
  outline: none;
}
.search-button {
  background-color: #202020;
  border: 0;
  outline: none;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
.search-icon {
  font-size: 15px;
  color: #ffffff;
}

.search-movies-content-container {
  width: 90%;
  max-width: 1140px;
  margin: auto;
}
.search-movies-list-container {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.search-no-movies-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .search-no-movies-text {
    font-size: 24px;
    line-height: 32px;
  }
}
.search-movies-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.search-movies-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.search-movies-failure-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.search-failure-image {
  width: 233px;
  height: 172px;
}
@media screen and (min-width: 768px) {
  .search-failure-image {
    width: 375px;
    height: 276px;
  }
}
.search-movies-try-again-button {
  padding: 8px 24px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  outline: none;
  cursor: pointer;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.pagination-icon {
  color: #ffffff;
}
.page-numbers-style {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
}
.content-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
