.similar-movie-image {
  margin-right: 12px;
  margin-bottom: 12px;
  height: 75px;
  width: 105px;
  border-radius: 8px;
}
@media screen and (min-width: 630px) and (max-width: 990px) {
  .similar-movie-image {
    height: 120px;
    width: 160px;
  }
}
@media screen and (min-width: 990px) {
  .similar-movie-image {
    height: 170px;
    width: 250px;
  }
}
